<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <!-- Foundation reference files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <!-- Reference for DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.foundation.min.css">
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1 class="text-center">Welcome to News-Link</h1> 
        </div>
      </div>

      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <div class="callout">
            <h3 class="subheader">Your News Article Recommender</h3>
            
            <p>News-link is a reccomendation engine for journalists working for digital news publishers. Using NLP, News-Link provides journalists with a list previously published similar news stories. Links to these stories can be easily inserted into a story that a journalist is currently writing, to provide readers with additional, related news content. </p>
            
            <p>This build of New-Link compares your story to a databse of >1500 news articles scraped from the CBC.ca.</p>
            
            <p>Interested in learning more about News-Link's backend? Check out this <a href ='https://github.com/CylitaGuy/news-link'> GitHub Repository.</a> </p>
            </div>
            </div>
          </div>
        </div>
      </div>
        
        <!-- Story Entry Formatting -->
      
      <div class="grid-x grid-padding-x">
      </div>
      <form action="/output" method="GET" id="user_input">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h5 class="subheader">Enter Your Story Here</h5>
                <input type="text" id = "user_input" name='user_input' 
                placeholder="e.g. Did you know wombats poop cubes? A news story about weird animals facts..."/>

                <button type="button round" class="alert button" form="user_input">Get Links!</button>
              </div>
          </div>
        </div>
      </form>
      
      {% if my_form_result=='Empty' %}
      <div class="row mt-4 justify-content-center">
          <blockquote>
            You didn't type anything!
            <cite>Please try again</cite>
          </blockquote>
      </div>

      {% elif my_form_result=='Long' %}

    <div class = 'grid-container'>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h3 class="text-center"> Here's the story you entered:</h3> 
             <p class="text-center">{{my_input}}</p>
        </div>
      </div>
      <div class="callout alert">
        <h3 class="text-center">Something to consider!</h3>
        <p>It seems that the article you are writing is a bit on the longer side. Not all of your audience may make it to the end! Perhaps considering inserting some of these similar links ~1/3 of the way through your article. You can include some of the other's at the end! 
        </p>
      </div>

      <div class="grid-x grid-padding-x">
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
    </div>
      
      {% elif my_form_result=='NotEmpty' %}
      <div class = 'grid-container'>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
            <h3 class="text-center"> Here's the story you entered:</h3> 
             
             <p class="text-center">{{my_input}}</p>
      
        </div>
      </div>
      
      <div class="grid-x grid-padding-x">
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
    </div>

      {% else %}
      {% endif %}


      </div>
    </div>
    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!-- Reference for DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.foundation.min.js"></script>
  </body>
</html>
